apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-rancher-ingress
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - demoranch.techakademi.com
    secretName: rancher-demosu-tls-staging
  rules:
  - host: demoranch.techakademi.com
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: rancher-servisi
            port:
              number: 80
